@import url("bootstrap.min.css");

//mixin setup
$mobile-width: 320px;
$exmobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-width: 1200px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin exmobile {
  @media (min-width: #{$exmobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}
*:hover{ ouline: 0; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 600; line-height: 1.5; }
html { height: 100%; }
body { font-size: 18px; font-family: 'Open Sans', sans-serif; background: #26002D url(../img/bg.png) no-repeat center top fixed; background-size: cover;  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; line-height: 1.5; min-height: 100%; position: relative;
  @include mobile { font-size: 15px; }
  @include tablet { font-size: 16px; }
  @include desktop { font-size: 18px; }
}
h3 {
  @include mobile { font-size: 18px; }
  @include desktop { font-size: 24px; }
}
// br { line-height:1.9 }
// .btn { border-radius: 0; font-weight: 700; padding: 10px 30px; font-size: 16px; }
.btn-transperant { border: solid 1px #fff; }
.btn-purple { background: #694380; color: #fff; font-weight: 600; padding: 10px 35px;
  &:hover { color: #fff; }
}
.orange { color: #f68533 }
.ico { background-image: url(../img/sprite.png); background-repeat: no-repeat;  display: inline-block; }


// .list-unstyled { padding-left:0 !important }
.form-control{ border: none; height: 42px; background: #efefef; border-radius: 5px; box-shadow: none; }
.form-transperant {
  .form-control{ background: none; border: solid 1px #333; }
}
// header
header { background: #694380; height: 66px; z-index:3; position: relative;
  @include mobile { padding: 0 10px; }
  .logo { margin-top: 15px;
    @include mobile { margin-top: 10px;
      img {width: 70px;}
    }
    @include desktop { margin-top: 15px;
      img {width: auto;}
    }
  }
  .navigator { padding: 15px 0;
    a { color: #fff;
      &:hover { color: #fff; }
    }
  }
  .col-md-12 {
    @include mobile { padding:0; }
    @include exmobile { padding:0 15px; }
  }
}

//share trip
.box { background: #fff; background: rgba(255,255,255,0.8); border-radius: 4px; padding: 20px 10px;}
.share-trip { margin-top: 30px;  padding-bottom: 69px;
  @include mobile { padding-bottom: 155px; }
  @include tablet { padding-bottom: 69px; }
  .container {
    @include desktop { width: 750px; }
  }
  .box {
    @include tablet { padding: 50px 75px; }
  }
  .box-title {
    img { border: solid 1px #fff; margin-bottom: 10px;}
    p{ margin:0;
      &.small { color: #777; font-size: 80%; }
    }
    h2 { margin:0; font-size: 40px; font-weight: 600;
      @include mobile { font-size: 22px; }
      @include tablet { font-size: 40px; }
    }
  }
  .item { background: #fff; border-radius: 4px; border: solid 1px #EDEDED; margin-top: 23px;
    @include mobile { margin-top: 10px; }
    @include tablet { margin-top: 23px; }
    &.item-shop {
      img.main { border-radius: 4px 4px 0 0; filter: brightness(70%); -webkit-filter: brightness(70%); -moz-filter: brightness(70%); -o-filter: brightness(70%); -ms-filter: brightness(70%);}
      .info { padding: 25px 0;}
    }
    &.item-topic { padding: 20px;
      @include mobile { padding: 10px; }
      @include tablet { padding: 20px; }
      h4 { font-size: 22px; margin:0;
        @include mobile { font-size: 16px; }
        @include tablet { font-size: 22px; }
      }
      .info {
        span { padding-left:0; }
      }
      .author { color: #A1A19D;
        img { margin-left: 10px; }
      }
    }
    .basic { position: relative; margin: -1px;
      .name { position: absolute; left: 20px; bottom: 20px;
        @include mobile { left: 10px; bottom: 10px; }
        @include tablet { left: 20px; bottom: 20px; }
        h3 { margin:0; color: #fff; font-weight: 400; font-size: 30px;
          @include mobile { font-size: 22px; }
          @include tablet { font-size: 30px; }
        }
        p { display: inline-block; background: #fff; background: rgba(255,255,255,0.7); color: #000; border-radius: 4px; padding: 2px 15px; margin:0;}
      }
    }
    .info {
      span { display: inline-block; padding: 0 15px;}
      img { display: inline-block; margin-right: 5px; }
    }
    img.main { border-radius: 4px; width: 100%;}
  }
  .item-title { font-size: 25px; margin-top: 50px;
    @include mobile { margin: -20px 0; font-size: 22px;}
    @include tablet { margin: 50px 0 0 0; font-size: 25px; }
    hr { border-color: #979797;
      @include mobile { margin-top: 10px; margin-bottom: 10px; }
      @include tablet { margin-top: 20px; margin-bottom: 20px; }
    }
  }
  .download-area { color: #fff;
    @include mobile { padding: 20px 0; }
    @include tablet { padding: 50px 0; }
    p { font-size: 30px; margin-bottom: 30px;
      @include mobile { font-size: 20px; margin-bottom: 10px;}
      @include tablet { font-size: 30px; margin-bottom: 30px;}
    }
  }
}

//term
.term{ padding-bottom: 69px;
  @include mobile { padding-bottom: 155px; }
  @include tablet { padding-bottom: 69px; }
  .box { padding: 15px 0 0 0; border-radius:0;
    .title {
      h2 {
        @include mobile { font-size: 20px; margin-bottom: 10px; margin-top: 0px; }
        @include tablet { font-size: 30px; margin-bottom: 30px; margin-top: 20px;}
      }
    }
    .content { background: #fff; padding: 85px 100px;
      @include mobile { padding: 10px 15px 25px 15px; }
      @include tablet { padding: 85px 100px; }
    }
  }
}

.list-items { padding: 30px 0;
  li { margin-top: 30px; }
  h3 { margin-top: 10px; }
  img {
    @include mobile { width: 100px; }
    @include tablet { width: auto; }
  }

}

// footer
footer { color: #fff; background: #000; padding: 15px 0; font-size: 18px; position: absolute; bottom: 0; width: 100%;
  &.footer-bottom { position: absolute; bottom: 0; width: 100%; }
  @include mobile { font-size: 16px; }
  @include tablet { font-size: 18px; }
  p { margin: 6px 0;
    @include mobile { text-align: center; }
    @include tablet { text-align: left; }
  }
  .btn-link { color: #fff; font-size: 18px;
    @include mobile { font-size: 16px; }
    @include tablet { font-size: 18px; }
    &:hover { color: #fff; }
  }
  .pull-right {
    @include mobile { width: 100%; text-align: center;
      a { display: inline-block; }
    }
    @include tablet { width: auto; }
  }
}

//landing
.landing { padding: 120px 0px 90px 0px;
  @include mobile { padding: 30px 0 140px 0; }
  @include tablet { padding: 120px 0px 0px 0px; }
  .infos {
    img { margin-bottom: 40px; }
  }
  .img-main { padding-top: 30px;
    img {
      @include mobile {
      }
    }
  }
}

//::-webkit-input-placeholder { font-style: italic; color: #bdbdbd}
// :-moz-placeholder { font-style: italic; color: #bdbdbd}
// ::-moz-placeholder { font-style: italic; color: #bdbdbd}
// :-ms-input-placeholder { font-style: italic; color: #bdbdbd}
